* {
    box-sizing: border-box;
    --color-body: #FB6B6B;
    --color-flashcard-bg: #FFFFD5;
    --color-button-bg: #FFF;
    --color-text-cards: #333333;
    --color-border-initial: #D70900;
    --color-button-red: #FF3030;
    --color-button-orange: #FF922E;
    --color-button-green: #2FBE34;
    --font-recursive: 'Recursive', sans-serif;
    --font-righteous:  'Righteous';
}

body {
    background-color: var(--color-body);
}

.header-initial-screen {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 82px;
}

.header-initial-screen h1 {
    font-family: var(--font-righteous);
    font-weight: 400;
    font-size: 25px;
    line-height: 31px;
    color: var(--color-button-bg);
}

.components-initial-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.components-initial-screen button {
    width: 70vw;
    max-width: 340px;
    padding: 10px;
    font-size: 95%;
    line-height: 14px;
    text-align: center;
    font-weight: 400;
    color: var(--color-border-initial);
    font-family: var(--font-recursive);
    border: 1px solid var(--color-border-initial);
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    background-color: var(--color-button-bg);

    transition: 300ms;
}

.components-initial-screen button:hover {
    cursor: pointer;
    background-color: #feff46;
}

.header-flashcard-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 40px;
}

.header-flashcard-screen img {
    margin-right: 6px;
    width: 26px;
    height: 31px;
}

.header-flashcard-screen h1 {
    font-family: var(--font-righteous);
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    color: var(--color-button-bg);
}

.flashcard-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95vw;
    max-width: 340px;
    padding: 15px;
    margin-bottom: 5px;
    background-color: var(--color-button-bg);
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border: none;
    transition: 300ms;
}

.btn-question:hover {
    cursor: pointer;
    background-color: #feff46;
}

.buttons {
    margin-bottom: 55px;
}

.btn-question p {
    font-family: var(--font-recursive);
    font-weight: 700;
    font-size: 110%;
    line-height: 14px;
    color: var(--color-text-cards);
}

.btn-question ion-icon {
    font-size: 25px;
    color: var(--color-text-cards);
}

.footer-flashcard-screen {
    height: 50px;
    background-color: var(--color-button-bg);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
}

.footer-flashcard-screen p {
    font-family: var(--font-recursive);
    font-size: 12px;
    color: var(--color-text-cards);
    line-height: 14px;
    font-weight: 400;
}

.article-question {
    background-color: var(--color-flashcard-bg);
    margin-bottom: 5px;
    min-height: 80px;
    max-width: 340px;
    height: auto;
    border-radius: 5px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    position: relative;
    word-break: break-word;
}

.article-question p {
    font-family: var(--font-recursive);
    font-weight: 400;
    font-size: 100%;
    line-height: 14px;
    color: var(--color-text-cards);
    margin-left: 6px;
    margin-right: 6px;
    padding-top: 13px;
    padding-bottom: 39px;
}

.article-question img {
    width: 25px;
    position: absolute;
    bottom: 7px;
    right: 8px;
}


@media (min-width: 800px) {
    .header-flashcard-screen img {
        width: 40px;
        height: 40px;
    }

    .header-flashcard-screen h1 {
        font-size: 32px;
        line-height: 40px;
    }

    .btn-question p {
        line-height: 20px;
    }

    .btn-question ion-icon {
        font-size: 32px;
    }

    .buttons {
        margin-bottom: 80px;
    }

    .footer-flashcard-screen {
        height: 75px;
    }

    .footer-flashcard-screen p {
        font-size: 19px;
    }
}